streamlit
langchain
chromadb 
openai 
pandas 
numpy 
plotly 
python-dotenv
langchain
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
tiktoken
protobuf==3.20.3
ragas
datasets
arize-phoenix-otel
openinference-instrumentation-openai
openinference-instrumentation-langchain
